<table id="ub-table">
  <tr class="header">
    <td>Name</td>
    <td>Firmware</td>
    <td>IMEI</td>
  </tr>
  <% @devices.each do |device|  %>
    <tr class="<%= cycle("gray_row", "") %>">
      <td><%= link_to device.name,  nm_5500_device_commands_path(device)%></td>
      <td><%= device.firmware %></td>
      <td><%= device.imei %>
    </td>
  <% end %>
</table>
