<h3>NM-5500 Overview</h3>
<%= render :partial=>"/layouts/flash_message"%>
  
<ul class="list">
  <li>
    <%= pluralize @total_devices, '<strong>Xirgo Device</strong>', '<strong>NM-5500 Devices</strong>' %>  -
    <%= link_to 'view', new_nm_5500_command_path %>
  </li>
</ul>