<h3>NM-5500 Overview</h3>
  
<ul class="list">
  <li>
    <%= pluralize @total_devices, '<strong>Xirgo Device</strong>', '<strong>NM-5500 Devices</strong>' %>  -
    <%= link_to 'view', nm_5500_devices_path %>
  </li>
</ul>